<h1>Users</h1>
<%= link_to "新規登録", new_user_path %>
<div>
    <% @users.each do |user| %>
        <div>
            <p><%= user.id %></p>
            <p><%= user.name %></p>
            <p><%= user.email %></p>
            <%= link_to "詳細", user_path(user.id) %>
            <%= link_to "編集", edit_user_path(user.id) %>
        </div>
    <% end %>
</div>