<h1>ユーザー詳細</h1>
<p><%= @user.id %></p>
<p><%= @user.name %></p>
<p><%= @user.email %></p>
<p><%= @user.explanation %></p>
<%= button_to "削除", @user, method: :delete %>
<%= link_to "一覧へ戻る", users_path %>